.app {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: #0D1117;
  min-height: 100vh;
  color: rgba(255, 255, 255, 0.80);

  &__main {
    width: 438px;
    height: 653px;
    border-radius: 30px;
    background: linear-gradient(112deg, rgba(255, 255, 255, 0.35) 0%, rgba(255, 255, 255, 0.10) 73.15%);
    box-shadow: 0px 1px 24px -1px rgba(0, 0, 0, 0.10);
    backdrop-filter: blur(7.5px);
    padding: 19px 30px;
    background-image: url('https://res.cloudinary.com/dueujks79/image/upload/v1700691909/bg_fff1ox.png');
    background-position: center;
  }

  &__title {
    text-align: center;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 50px;
  }

  &__background {
    width: 732px;
    height: 736px;
  }
}
